*{ 
    padding-top: 10px;
    margin:0;
    
}
.instructions {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #d00000; /* Text color */
  text-align: left;
  padding-left: 10%;
  
}

#startButton{
    background-color: rgb(31, 26, 92);
    color: rgb(249, 247, 247);
    border: 2px solid #555555;
    margin: 0;
  position: absolute;
  top: 5%;
  left: 40%;
  height: 5%;
  }

  #startButton:hover{
    background-color: #555555;
    color: white;
  }

  .dropdown {
    position: absolute;
    background-color: black;
    background-color: gray;
    top: -5%;
    margin: 0;
    left: 50%;
    color: white;
    height: 5%;
  }

  .dropdown:hover {
    background-color: #555555;
    color: white;
    
}

#OnepieceGame{
    width: 300px;
    height:550px;
    border: 1px solid black;
    margin:auto ;
    margin-top: 5%;
    background-color: rgb(193, 85, 85);
    position: relative;

}


body {
    background-image: url('images/mp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }
  .game-board {
    width: 100%; /* Set the width to 100% to match the parent width */
    height: 100%; /* Set the height to 100% to match the parent height */
    position: static; 
    top: 0; 
    left: 0; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
  
    grid-column-gap: 2px;
}
  
  
  .tile {
    width: 98px; /* Set the width of each tile */
    height: 100px; /* Set the height of each tile */
    background-color: #020202; /* Tile color */

    padding-top: 50%;
  }
  
  /* Style for individual tiles */
  .tile:nth-child(3n + 9 ) {
    grid-row: 1; /* Place tiles in the first row (top) */
    grid-column: 3; /* Place tiles in the third column (right) */
  }
  

  

#character{
    width: 100px;
    height:100px;
    background-image: url("images/gr5.png");
    background-color: transparent;
    position:absolute;
    top:430px;
    left: 100px
}

#block{
    width:100px;
    height: 100px;
    background-image: url("images/kaido.png");
    background-color: transparent;
    position:absolute;
    top:500px;
    animation: slide 1s infinite linear;
}


@keyframes slide {
    0% {
        top: 0px 
    };
    100% {
        top: 500px 
    };
}

#left, #right {
    width:50%;
    position: absolute;
    height: 500px;
 
}

#right{
    left:50%;

}

